* {
  margin: 0;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
  letter-spacing: .5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-bottom: 50px;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}

.home {
  width: 100vw;
  margin-top: 60px;
}

.home h1 {
  margin-bottom: 10px;
}

.home-page-btn {
  margin-top: 30px;
}

.home-section {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
}

.home-section-1, .home-section-3 {
  background-color: #eee;
}

.home-section.left-text {
  padding-left: 10%;
  justify-content: flex-start;
}

.home-section.right-text {
  padding-right: 10%;
  justify-content: flex-end;
}

.home-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(50vh - 170px);
}

.tagline {
  text-align: left;
}

.tagline-line-2 {
  margin-left: 20px;
}

.page-content {
  position: relative;
  margin-top: 60px;
  padding: 5% 10% 7% 10%;
  min-height: calc(100% - 60px);
  margin-bottom: -80px;
}

.page-content:after {
  content: "";
  display: block;
  height: 80px;
}

@keyframes darkenBackground {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: transparent;
  display: none;
}

.background-overlay.visible {
  animation-name: darkenBackground;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.quickview {
  position: absolute;
  background-color: white;
  z-index: 11;
  display: none;
  flex-wrap: wrap;
  border-radius: 4px;
  flex-wrap: wrap;
}

.quickview.expanded {
  display: flex;
  animation-name: expandQuickview;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  top: 0;
  left: 0;
  max-height: 80vh;
  overflow-y: auto;
}

.quickview .carousel {
  width: 300px;
}

.quickview-img {
  border: solid 1px #212529;
  border-radius: 4px;
  width: 300px;
}

@keyframes expandQuickviewImg {
  0% {
    margin: 0;
  }
  100% {
    margin: 15px;
  }
}

.quickview-img-container {
  margin: 0;
}

.quickview-img-container.expanded {
  animation-name: expandQuickviewImg;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  margin: 15px;
}

.exit-quickview {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 20px;
  color: white;
}

.item-details-container {
  text-align: left;
  width: 310px;
  max-height: 2000px;
  padding: 15px;
}

@keyframes fadeInDetails {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.thumbnails-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  max-height: 2000px;
  width: 240px;
}

.thumbnails {
  opacity: 0;
}

.thumbnails.visible {
  animation-name: fadeInDetails;
  animation-duration: 1200ms;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

.thumbnail {
  width: 100px;
  margin: 5px;
  padding: 0px;
}

.thumbnail-img {
  width: 100px;
  border: solid 1px #212529;
  border-radius: 4px;
}

.item-details {
  opacity: 0;
}

.item-details.visible {
  animation-name: fadeInDetails;
  animation-duration: 1200ms;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

.item-details h3 {
  margin-bottom: 0;
  margin-right: 15px;
}

.item-dimensions, .item-materials {
  display: flex;
  align-items: center;
}

.item-details-icon {
  width: 20px;
  margin-right: 15px;
  margin-bottom: 1rem;
}

.item-price-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.masonry-layout {
  margin: 0 auto;
}

@keyframes fadeInItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.items-list {
  animation-name: fadeInItems;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.item {
  position: relative;
  width: 300px;
  margin: 20px;
  padding: 0px;
}

.item-img {
  width: 300px;
  border: solid 1px #212529;
  border-radius: 4px;
}

.quickview-button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0s;
}

.quickview-button-container .btn {
  border: solid #212529 1px;
  background-color: rgba(248, 249, 250, 0.9);
}

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0px;
}

.footer a {
  text-decoration: underline;
}

.bag-icon-container {
  position: relative;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-light {
  z-index: 1;
  background-color: white;
  border-bottom: solid 1px #eee;
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
  padding-right: 0px;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 15px;
}

.dropdown-item.active {
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
}

.dropdown-item:not(.active) {
  color: rgba(0, 0, 0, 0.5);
}

.nav-link {
  margin-left: 7px;
  margin-right: 7px;
}

.nav-link.active > .bag-icon-container .bag-icon path {
  stroke: rgba(0, 0, 0, 0.9);
}

.nav-link.active > .bag-icon-container .bag-icon circle {
  stroke: rgba(0, 0, 0, 0.9);
}

.bag-number-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag-number {
  font-size: 11px;
  margin-top: 7px;
}

.shopping-bag {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.bag-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.bag-item img {
  width: 150px;
}

.bag-item-price {
  margin-bottom: 0px;
  margin-left: 20px;
  text-align: right;
  flex-grow: 1;
}

.bag-total {
  margin-top: 50px;
  text-align: right;
}

.bag-total span:first-of-type {
  margin-right: 10px;
}

.bio {
  text-align: left;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.bio img {
  width: 300px;
  max-width: 100%;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  border: solid 1px #212529;
  border-radius: 4px;
}

.contact form {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.contact h1 {
  margin-bottom: 15px;
}

.contact p:first-of-type {
  margin-bottom: 25px;
}

.checkout-form .card-field {
  margin-bottom: 15px;
  background-color: white;
  padding: 11px 16px;
  border-radius: 6px;
  border: 1px solid #CCC;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  line-height: 1.3333333;
}

.checkout-form-container {
  padding-top: 30px;
}

.checkout-form .card-field.StripeElement--focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  border-color: #66AFE9;
}

.checkout-success .modal-header {
  border-bottom: none;
}

.checkout-success .modal-header button.close:focus {
  outline: none;
}

.checkout-success .modal-body {
  padding-top: 0px;
  padding-bottom: 60px;
}

@media all and (max-width: 991px) {
  .navbar-light .navbar-brand {
    margin-left: 0px;
  }

  .dropdown-item {
    text-align: center;
  }

  .home {
    margin-top: 54px;
  }

  .home-section {
    height: calc(100vh - 54px);
  }

  .page-content {
    margin-top: 54px;
    min-height: calc(100% - 54px);
  }
}

@media all and (max-width: 600px) {
  .home h1 {
    font-size: 26px;
  }

  .bio img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .page-content {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media all and (min-width: 480px) {
  .checkout-form-container form {
    margin: 0 auto;
    max-width: 480px;
  }
}

@media all and (hover: hover) {
  .dropdown-item:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
  }

  .nav-link:hover > .bag-icon-container .bag-number {
    color: rgba(0, 0, 0, 0.9);
  }

  .nav-link:hover > .bag-icon-container .bag-icon path {
    stroke: rgba(0, 0, 0, 0.9);
  }

  .nav-link:hover > .bag-icon-container .bag-icon circle {
    stroke: rgba(0, 0, 0, 0.9);
  }

  .item:hover {
    cursor: pointer;
  }

  .item:hover .quickview-button-container {
    opacity: 1;
    transition: opacity 200ms;
    transition-timing-function: ease-in-out;
  }
  
  .thumbnail-img:hover {
    cursor: pointer;
  }

  .exit-quickview:hover {
    cursor: pointer;
  }
}