* {
  margin: 0;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
  letter-spacing: .5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-bottom: 50px;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}

.home {
  float: left;
}

.home h1 {
  font-size: 70px;
  margin-top: 20%;
  margin-bottom: 15px;
}

.home h3 {
  font-size: 20px;
  margin-bottom: 35px;
}

.page-content {
  padding: 5% 10% 7% 10%;
  min-height: calc(100% - 60px);
  margin-bottom: -80px;
}

.page-content:after {
  content: "";
  display: block;
  height: 80px;
}

.home-page-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@keyframes darkenBackground {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: transparent;
  display: none;
}

.background-overlay.visible {
  animation-name: darkenBackground;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.quickview {
  position: fixed;
  background-color: white;
  z-index: 11;
  display: none;
  flex-wrap: wrap;
  border: solid 1px black;
  border-right: none;
  border-bottom: none;
  border-radius: 4px;
}

.quickview.visible {
  display: flex;
  animation-name: showQuickview;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  top: 0;
  left: 0;
  margin: 10vh 10vw 10vh 10vw;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  max-height: 80vh;
  overflow-y: auto;
}

.quickview-images-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.quickview-img {
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 300px;
}

.exit-quickview {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes expandQuickview {
  0% {
    width: 0;
    padding: 0;
    max-height: 0;
  }
  33.3% {
    width: 0;
    padding: 0;
    max-height: 0;
  }
  66.7% {
    width: calc(80vw - 302px);
    padding: 0px 40px 0px 40px;
    max-height: 0;
  }
  100% {
    width: calc(80vw - 302px);
    padding: 20px 40px 20px 40px;
    max-height: 2000px;
  }
}

.item-details-container {
  text-align: left;
  width: 0;
  max-height: 0;
  overflow: hidden;
}

.item-details-container.visible {
  animation-name: expandQuickview;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  width: calc(80vw - 302px);
  max-height: 2000px;
  padding: 20px 40px 20px 40px;
}

@keyframes showItemDetails {
  0% {
    opacity: 0;
  }
  66.7% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item-details {
  opacity: 0;
}

.item-details h3 {
  margin-bottom: 15px;
}

.item-details h4 {
  margin-bottom: 0;
  margin-right: 15px;
}

.item-price-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.item-details.visible {
  animation-name: showItemDetails;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

.masonry-layout {
  margin: 0 auto;
}

.item {
  position: relative;
  width: 300px;
  margin: 20px;
  padding: 0px;
}

.item-img {
  width: 300px;
  border: solid 1px black;
  border-radius: 4px;
}

.quickview-button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0s;
}

.quickview-button-container .btn {
  border: solid #212529 1px;
  background-color: rgba(248, 249, 250, 0.9);
}

@keyframes showThumbnails {
  0% {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 0;
    opacity: 0;
  }
  33.3% {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 0;
    opacity: 0;
  }
  66.7% {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 0;
    opacity: 0;
  }
  100% {
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 2000px;
    opacity: 1;
  }
}

.thumbnails {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 0;
  opacity: 0;
}

.thumbnails.visible {
  animation-name: showThumbnails;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  margin-top: 15px;
  margin-bottom: 15px;
  max-height: 2000px;
  opacity: 1;
}

.thumbnail {
  width: 100px;
  margin: 10px;
  padding: 0px;
}

.thumbnail-img {
  width: 100px;
  border: solid 1px black;
  border-radius: 4px;
}

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0px;
}

.footer a {
  text-decoration: underline;
}

.bag-icon-container {
  position: relative;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
  padding-right: 0px;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 15px;
}

.nav-link {
  margin-left: 7px;
  margin-right: 7px;
}

.nav-link.active > .bag-icon-container .bag-icon path {
  stroke: rgba(0, 0, 0, 0.9);
}

.nav-link.active > .bag-icon-container .bag-icon circle {
  stroke: rgba(0, 0, 0, 0.9);
}

.bag-number-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag-number {
  font-size: 11px;
  margin-top: 7px;
}

.bag-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag-item-name {
  margin-bottom: 0px;
  margin-right: 10px;
}

.bag-item-quantity {
  width: 75px;
}

.bio {
  text-align: left;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.bio img {
  width: 300px;
  max-width: 100%;
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  border: solid 1px black;
  border-radius: 4px;
}

.contact form {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.contact h1 {
  margin-bottom: 15px;
}

.contact p:first-of-type {
  margin-bottom: 25px;
}

@media all and (max-width: 991px) {
  .navbar-light .navbar-brand {
    margin-left: 0px;
  }
}

@media all and (max-width: 600px) {
  .home h1 {
    font-size: 40px;
  }

  .bio img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }
}

@media all and (hover: hover) {
  .nav-link:hover > .bag-icon-container .bag-number {
    color: rgba(0, 0, 0, 0.9);
  }

  .nav-link:hover > .bag-icon-container .bag-icon path {
    stroke: rgba(0, 0, 0, 0.9);
  }

  .nav-link:hover > .bag-icon-container .bag-icon circle {
    stroke: rgba(0, 0, 0, 0.9);
  }

  .item:hover {
    cursor: pointer;
  }

  .item:hover .quickview-button-container {
    opacity: 1;
    transition: opacity 200ms;
    transition-timing-function: ease-in-out;
  }
  
  .thumbnail-img:hover {
    cursor: pointer;
  }

  .exit-quickview:hover {
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
  }
}